<?xml version="1.0"?>
	<configuration>
		<connectionStrings>
			<add name="CONNECTION_STRING_LOCAL" connectionString="Server=DESKTOP-C1K7M6O\SQLEXPRESS;Database=sanpham;User Id=sa;Password=1;" />
		</connectionStrings>
		
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

</configuration>
